form {
	background-color: #eee;
	border: solid 5px #aaa;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

form > input{
	box-sizing: border-box;
	width: 100%;
}

form > p {
	color: orange;
}

form > p > label{
	color: black;
}

#greska {
	color: red;
	text-align: center;
}

@media all and (max-width: 500px){
	form {
		top: 0;
		transform: translate(-50%, 0);
		padding: 20px 0;
		}
}